<!DOCTYPE html>
<html>
  <head>
    <title>用户面板</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="static/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="static/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="static/css/styles_yhmb.css" type="text/css" rel="stylesheet"/>
    <link href="static/css/styles2.css" type="text/css" rel="stylesheet"/>
    
    <style>
	<!--
	a {text-decoration:none}
	a:hover{font-weight:bold}
	-->
	</style>
         <script src="static/js/jquery-1.7.1.min.js"></script>
    <script src="static/js/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="static/js/axQuery.js"></script>
    <script src="static/js/globals.js"></script>
    <script src="static/js/axutils.js"></script>
    <script src="static/js/annotation.js"></script>
    <script src="static/js/axQuery.std.js"></script>
    <script src="static/js/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="static/js/messagecenter.js"></script>
    <script src="static/js/events.js"></script>
    <script src="static/js/action.js"></script>
    <script src="static/js/expr.js"></script>
    <script src="static/js/geometry.js"></script>
    <script src="static/js/flyout.js"></script>
    <script src="static/js/ie.js"></script>
    <script src="static/js/model.js"></script>
    <script src="static/js/repeater.js"></script>
    <script src="static/js/sto.js"></script>
    <script src="static/js/utils.temp.js"></script>
    <script src="static/js/variables.js"></script>
    <script src="static/js/drag.js"></script>
    <script src="static/js/move.js"></script>
    <script src="static/js/visibility.js"></script>
    <script src="static/js/style.js"></script>
    <script src="static/js/adaptive.js"></script>
    <script src="static/js/tree.js"></script>
    <script src="static/js/init.temp.js"></script>
    <script src="static/js/legacy.js"></script>
    <script src="static/js/viewer.js"></script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 彩条1 (形状) -->
      <div id="u0" class="ax_形状" data-label="彩条1">
        <img id="u0_img" class="img " src="static/images/彩条1_u0.png"/>
        <!-- Unnamed () -->
        <div id="u1" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条2 (形状) -->
      <div id="u2" class="ax_形状" data-label="彩条2">
        <img id="u2_img" class="img " src="static/images/彩条2_u2.png"/>
        <!-- Unnamed () -->
        <div id="u3" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条3 (形状) -->
      <div id="u4" class="ax_形状" data-label="彩条3">
        <img id="u4_img" class="img " src="static/images/彩条1_u0.png"/>
        <!-- Unnamed () -->
        <div id="u5" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条4 (形状) -->
      <div id="u6" class="ax_形状" data-label="彩条4">
        <img id="u6_img" class="img " src="static/images/彩条2_u2.png"/>
        <!-- Unnamed () -->
        <div id="u7" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条5 (形状) -->
      <div id="u8" class="ax_形状" data-label="彩条5">
        <img id="u8_img" class="img " src="static/images/彩条5_u8.png"/>
        <!-- Unnamed () -->
        <div id="u9" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条6 (形状) -->
      <div id="u10" class="ax_形状" data-label="彩条6">
        <img id="u10_img" class="img " src="static/images/彩条6_u10.png"/>
        <!-- Unnamed () -->
        <div id="u11" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条7 (形状) -->
      <div id="u12" class="ax_形状" data-label="彩条7">
        <img id="u12_img" class="img " src="static/images/彩条1_u0.png"/>
        <!-- Unnamed () -->
        <div id="u13" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条8 (形状) -->
      <div id="u14" class="ax_形状" data-label="彩条8">
        <img id="u14_img" class="img " src="static/images/彩条2_u2.png"/>
        <!-- Unnamed () -->
        <div id="u15" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条9 (形状) -->
      <div id="u16" class="ax_形状" data-label="彩条9">
        <img id="u16_img" class="img " src="static/images/彩条5_u8.png"/>
        <!-- Unnamed () -->
        <div id="u17" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条10 (形状) -->
      <div id="u18" class="ax_形状" data-label="彩条10">
        <img id="u18_img" class="img " src="static/images/彩条6_u10.png"/>
        <!-- Unnamed () -->
        <div id="u19" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条11 (形状) -->
      <div id="u20" class="ax_形状" data-label="彩条11">
        <img id="u20_img" class="img " src="static/images/彩条11_u20.png"/>
        <!-- Unnamed () -->
        <div id="u21" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条上端遮盖物 (形状) -->
      <div id="u22" class="ax_形状" data-label="彩条上端遮盖物">
        <img id="u22_img" class="img " src="static/images/遮盖彩条顶端物_u24.png"/>
        <!-- Unnamed () -->
        <div id="u23" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条下端遮盖物 (形状) -->
      <div id="u24" class="ax_形状" data-label="彩条下端遮盖物">
        <img id="u24_img" class="img " src="static/images/遮盖彩条底端物_u26.png"/>
        <!-- Unnamed () -->
        <div id="u25" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- banner (形状) -->
      <div id="u26" class="ax_形状" data-label="banner" selectiongroup="banner">
        <img id="u26_img" class="img " src="static/images/banner_u41.png"/>
        <!-- Unnamed () -->
        <div id="u27" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线1 (形状) -->
      <div id="u28" class="ax_形状" data-label="线1" selectiongroup="banner">
        <img id="u28_img" class="img " src="static/images/线条4_u49.png"/>
        <!-- Unnamed () -->
        <div id="u29" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线2 (形状) -->
      <div id="u30" class="ax_形状" data-label="线2" selectiongroup="banner">
        <img id="u30_img" class="img " src="static/images/线条1_u43.png"/>
        <!-- Unnamed () -->
        <div id="u31" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线3 (形状) -->
      <div id="u32" class="ax_形状" data-label="线3" selectiongroup="banner">
        <img id="u32_img" class="img " src="static/images/线条2_u45.png"/>
        <!-- Unnamed () -->
        <div id="u33" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线4 (形状) -->
      <div id="u34" class="ax_形状" data-label="线4" selectiongroup="banner">
        <img id="u34_img" class="img " src="static/images/线条3_u47.png"/>
        <!-- Unnamed () -->
        <div id="u35" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线5 (形状) -->
      <div id="u36" class="ax_形状" data-label="线5" selectiongroup="banner">
        <img id="u36_img" class="img " src="static/images/线条4_u49.png"/>
        <!-- Unnamed () -->
        <div id="u37" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线6 (形状) -->
      <div id="u38" class="ax_形状" data-label="线6" selectiongroup="banner">
        <img id="u38_img" class="img " src="static/images/线条1_u43.png"/>
        <!-- Unnamed () -->
        <div id="u39" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线7 (形状) -->
      <div id="u40" class="ax_形状" data-label="线7" selectiongroup="banner">
        <img id="u40_img" class="img " src="static/images/线条2_u45.png"/>
        <!-- Unnamed () -->
        <div id="u41" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线8 (形状) -->
      <div id="u42" class="ax_形状" data-label="线8" selectiongroup="banner">
        <img id="u42_img" class="img " src="static/images/线条3_u47.png"/>
        <!-- Unnamed () -->
        <div id="u43" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- enjoy life (形状) -->
      <div id="u44" class="ax_h2" data-label="enjoy life">
        <img id="u44_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u45" class="text">
          <p><span>Enjoy life!</span></p>
        </div>
      </div>

      <!-- 上一页 (形状) -->
      <div id="u46" class="ax_形状" data-label="上一页">
        <img id="u46_img" class="img " src="static/images/上一页_u72.png"/>
        <!-- Unnamed () -->
        <div id="u47" class="text">
          <p><span style="opacity:0.8;">PRE</span></p>
        </div>
      </div>

      <!-- 下一页 (形状) -->
      <div id="u48" class="ax_形状" data-label="下一页">
        <img id="u48_img" class="img " src="static/images/上一页_u72.png"/>
        <!-- Unnamed () -->
        <div id="u49" class="text">
          <p><span style="opacity:0.8;">NEXT</span></p>
        </div>
      </div>

      <!-- 彩块1 (形状) -->
      <div id="u50" class="ax_形状" data-label="彩块1">
        <img id="u50_img" class="img " src="static/images/彩块1_u76.png"/>
        <!-- Unnamed () -->
        <div id="u51" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩块2 (形状) -->
      <div id="u52" class="ax_形状" data-label="彩块2">
        <img id="u52_img" class="img " src="static/images/彩块2_u78.png"/>
        <!-- Unnamed () -->
        <div id="u53" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩块3 (形状) -->
      <div id="u54" class="ax_形状" data-label="彩块3">
        <img id="u54_img" class="img " src="static/images/彩块3_u80.png"/>
        <!-- Unnamed () -->
        <div id="u55" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩块4 (形状) -->
      <div id="u56" class="ax_形状" data-label="彩块4">
        <img id="u56_img" class="img " src="static/images/彩块4_u82.png"/>
        <!-- Unnamed () -->
        <div id="u57" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩块5 (形状) -->
      <div id="u58" class="ax_形状" data-label="彩块5">
        <img id="u58_img" class="img " src="static/images/彩块4_u82.png"/>
        <!-- Unnamed () -->
        <div id="u59" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩块6 (形状) -->
      <div id="u60" class="ax_形状" data-label="彩块6">
        <img id="u60_img" class="img " src="static/images/彩块3_u80.png"/>
        <!-- Unnamed () -->
        <div id="u61" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩块7 (形状) -->
      <div id="u62" class="ax_形状" data-label="彩块7">
        <img id="u62_img" class="img " src="static/images/彩块2_u78.png"/>
        <!-- Unnamed () -->
        <div id="u63" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩块8 (形状) -->
      <div id="u64" class="ax_形状" data-label="彩块8">
        <img id="u64_img" class="img " src="static/images/彩块1_u76.png"/>
        <!-- Unnamed () -->
        <div id="u65" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 用户名1 (形状) -->
      <div id="u66" class="ax_h1" data-label="用户名1">
        <img id="u66_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u67" class="text">
          <p><span>作者</span><span>(用户名在这里</span><span>)</span></p>
        </div>
      </div>

      <!-- 时间1 (形状) -->
      <div id="u68" class="ax_h1" data-label="时间1">
        <img id="u68_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u69" class="text">
          <p><span>时间:2015-09-07</span></p>
        </div>
      </div>

      <!-- 概要描述1 (形状) -->
      <div id="u70" class="ax_h1" data-label="概要描述1">
        <img id="u70_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u71" class="text">
          <p><span>概要</span><span>描述:</span></p>
        </div>
      </div>

      <!-- 概要描述内容1 (形状) -->
      <div id="u72" class="ax_h1" data-label="概要描述内容1">
        <img id="u72_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u73" class="text">
          <p><span>&nbsp; &nbsp; &nbsp; </span><span>没有描述则显示没有描述</span><span>限定为45个字符内</span></p>
        </div>
      </div>

      <!-- 详情1 (形状) -->
      <div id="u74" class="ax_h1" data-label="详情1">
        <img id="u74_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u75" class="text">
          <p><span>like</span></p>
        </div>
      </div>

      <!-- 用户名2 (形状) -->
      <div id="u76" class="ax_h1" data-label="用户名2">
        <img id="u76_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u77" class="text">
          <p><span>作者</span><span>(用户名在这里</span><span>)</span></p>
        </div>
      </div>

      <!-- 时间2 (形状) -->
      <div id="u78" class="ax_h1" data-label="时间2">
        <img id="u78_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u79" class="text">
          <p><span>时间:2015-09-07</span></p>
        </div>
      </div>

      <!-- 概要描述2 (形状) -->
      <div id="u80" class="ax_h1" data-label="概要描述2">
        <img id="u80_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u81" class="text">
          <p><span>概要</span><span>描述:</span></p>
        </div>
      </div>

      <!-- 概要描述内容2 (形状) -->
      <div id="u82" class="ax_h1" data-label="概要描述内容2">
        <img id="u82_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u83" class="text">
          <p><span>&nbsp; &nbsp; &nbsp; </span><span>没有描述则显示没有描述</span><span>限定为45个字符内</span></p>
        </div>
      </div>

      <!-- 详情2 (形状) -->
      <div id="u84" class="ax_h1" data-label="详情2">
        <img id="u84_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u85" class="text">
          <p><span>like</span></p>
        </div>
      </div>

      <!-- 用户名3 (形状) -->
      <div id="u86" class="ax_h1" data-label="用户名3">
        <img id="u86_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u87" class="text">
          <p><span>作者</span><span>(用户名在这里</span><span>)</span></p>
        </div>
      </div>

      <!-- 标题1 (形状) -->
      <div id="u88" class="ax_h1" data-label="标题1">
        <img id="u88_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u89" class="text">
          <p><span>(标题)标题不能超过十个字符</span></p>
        </div>
      </div>

      <!-- 标题2 (形状) -->
      <div id="u90" class="ax_h1" data-label="标题2">
        <img id="u90_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u91" class="text">
          <p><span>(标题)标题不能超过十个字符</span></p>
        </div>
      </div>

      <!-- 标题3 (形状) -->
      <div id="u92" class="ax_h1" data-label="标题3">
        <img id="u92_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u93" class="text">
          <p><span>(标题)标题不能超过十个字符</span></p>
        </div>
      </div>

      <!-- 标题4 (形状) -->
      <div id="u94" class="ax_h1" data-label="标题4">
        <img id="u94_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u95" class="text">
          <p><span>(标题)标题不能超过十个字符</span></p>
        </div>
      </div>

      <!-- 标题5 (形状) -->
      <div id="u96" class="ax_h1" data-label="标题5">
        <img id="u96_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u97" class="text">
          <p><span>(标题)标题不能超过十个字符</span></p>
        </div>
      </div>

      <!-- 标题6 (形状) -->
      <div id="u98" class="ax_h1" data-label="标题6">
        <img id="u98_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u99" class="text">
          <p><span>(标题)标题不能超过十个字符</span></p>
        </div>
      </div>

      <!-- 标题7 (形状) -->
      <div id="u100" class="ax_h1" data-label="标题7">
        <img id="u100_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u101" class="text">
          <p><span>(标题)标题不能超过十个字符</span></p>
        </div>
      </div>

      <!-- 标题8 (形状) -->
      <div id="u102" class="ax_h1" data-label="标题8">
        <img id="u102_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u103" class="text">
          <p><span>(标题)标题不能超过十个字符</span></p>
        </div>
      </div>

      <!-- 时间3 (形状) -->
      <div id="u104" class="ax_h1" data-label="时间3">
        <img id="u104_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u105" class="text">
          <p><span>时间:2015-09-07</span></p>
        </div>
      </div>

      <!-- 概要描述3 (形状) -->
      <div id="u106" class="ax_h1" data-label="概要描述3">
        <img id="u106_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u107" class="text">
          <p><span>概要</span><span>描述:</span></p>
        </div>
      </div>

      <!-- 概要描述内容3 (形状) -->
      <div id="u108" class="ax_h1" data-label="概要描述内容3">
        <img id="u108_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u109" class="text">
          <p><span>&nbsp; &nbsp; &nbsp; </span><span>没有描述则显示没有描述</span><span>限定为45个字符内</span></p>
        </div>
      </div>

      <!-- 详情3 (形状) -->
      <div id="u110" class="ax_h1" data-label="详情3">
        <img id="u110_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u111" class="text">
          <p><span>like</span></p>
        </div>
      </div>

      <!-- 用户名4 (形状) -->
      <div id="u112" class="ax_h1" data-label="用户名4">
        <img id="u112_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u113" class="text">
          <p><span>作者</span><span>(用户名在这里</span><span>)</span></p>
        </div>
      </div>

      <!-- 时间4 (形状) -->
      <div id="u114" class="ax_h1" data-label="时间4">
        <img id="u114_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u115" class="text">
          <p><span>时间:2015-09-07</span></p>
        </div>
      </div>

      <!-- 概要描述4 (形状) -->
      <div id="u116" class="ax_h1" data-label="概要描述4">
        <img id="u116_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u117" class="text">
          <p><span>概要</span><span>描述:</span></p>
        </div>
      </div>

      <!-- 概要描述内容4 (形状) -->
      <div id="u118" class="ax_h1" data-label="概要描述内容4">
        <img id="u118_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u119" class="text">
          <p><span>&nbsp; &nbsp; &nbsp; </span><span>没有描述则显示没有描述</span><span>限定为45个字符内</span></p>
        </div>
      </div>

      <!-- 详情4 (形状) -->
      <div id="u120" class="ax_h1" data-label="详情4">
        <img id="u120_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u121" class="text">
          <p><span>like</span></p>
        </div>
      </div>

      <!-- 用户名5 (形状) -->
      <div id="u122" class="ax_h1" data-label="用户名5">
        <img id="u122_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u123" class="text">
          <p><span>作者</span><span>(用户名在这里</span><span>)</span></p>
        </div>
      </div>

      <!-- 时间5 (形状) -->
      <div id="u124" class="ax_h1" data-label="时间5">
        <img id="u124_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u125" class="text">
          <p><span>时间:2015-09-07</span></p>
        </div>
      </div>

      <!-- 概要描述5 (形状) -->
      <div id="u126" class="ax_h1" data-label="概要描述5">
        <img id="u126_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u127" class="text">
          <p><span>概要</span><span>描述:</span></p>
        </div>
      </div>

      <!-- 概要描述内容5 (形状) -->
      <div id="u128" class="ax_h1" data-label="概要描述内容5">
        <img id="u128_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u129" class="text">
          <p><span>&nbsp; &nbsp; &nbsp; </span><span>没有描述则显示没有描述</span><span>限定为45个字符内</span></p>
        </div>
      </div>

      <!-- 详情5 (形状) -->
      <div id="u130" class="ax_h1" data-label="详情5">
        <img id="u130_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u131" class="text">
          <p><span>like</span></p>
        </div>
      </div>

      <!-- 用户名6 (形状) -->
      <div id="u132" class="ax_h1" data-label="用户名6">
        <img id="u132_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u133" class="text">
          <p><span>作者</span><span>(用户名在这里</span><span>)</span></p>
        </div>
      </div>

      <!-- 时间6 (形状) -->
      <div id="u134" class="ax_h1" data-label="时间6">
        <img id="u134_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u135" class="text">
          <p><span>时间:2015-09-07</span></p>
        </div>
      </div>

      <!-- 概要描述6 (形状) -->
      <div id="u136" class="ax_h1" data-label="概要描述6">
        <img id="u136_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u137" class="text">
          <p><span>概要</span><span>描述:</span></p>
        </div>
      </div>

      <!-- 概要描述内容6 (形状) -->
      <div id="u138" class="ax_h1" data-label="概要描述内容6">
        <img id="u138_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u139" class="text">
          <p><span>&nbsp; &nbsp; &nbsp; </span><span>没有描述则显示没有描述</span><span>限定为45个字符内</span></p>
        </div>
      </div>

      <!-- 详情6 (形状) -->
      <div id="u140" class="ax_h1" data-label="详情6">
        <img id="u140_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u141" class="text">
          <p><span>like</span></p>
        </div>
      </div>

      <!-- 用户名7 (形状) -->
      <div id="u142" class="ax_h1" data-label="用户名7">
        <img id="u142_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u143" class="text">
          <p><span>作者</span><span>(用户名在这里</span><span>)</span></p>
        </div>
      </div>

      <!-- 时间7 (形状) -->
      <div id="u144" class="ax_h1" data-label="时间7">
        <img id="u144_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u145" class="text">
          <p><span>时间:2015-09-07</span></p>
        </div>
      </div>

      <!-- 概要描述7 (形状) -->
      <div id="u146" class="ax_h1" data-label="概要描述7">
        <img id="u146_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u147" class="text">
          <p><span>概要</span><span>描述:</span></p>
        </div>
      </div>

      <!-- 概要描述内容7 (形状) -->
      <div id="u148" class="ax_h1" data-label="概要描述内容7">
        <img id="u148_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u149" class="text">
          <p><span>&nbsp; &nbsp; &nbsp; </span><span>没有描述则显示没有描述</span><span>限定为45个字符内</span></p>
        </div>
      </div>

      <!-- 详情7 (形状) -->
      <div id="u150" class="ax_h1" data-label="详情7">
        <img id="u150_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u151" class="text">
          <p><span>like</span></p>
        </div>
      </div>

      <!-- 用户名8 (形状) -->
      <div id="u152" class="ax_h1" data-label="用户名8">
        <img id="u152_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u153" class="text">
          <p><span>作者</span><span>(用户名在这里</span><span>)</span></p>
        </div>
      </div>

      <!-- 时间8 (形状) -->
      <div id="u154" class="ax_h1" data-label="时间8">
        <img id="u154_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u155" class="text">
          <p><span>时间:2015-09-07</span></p>
        </div>
      </div>

      <!-- 概要描述8 (形状) -->
      <div id="u156" class="ax_h1" data-label="概要描述8">
        <img id="u156_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u157" class="text">
          <p><span>概要</span><span>描述:</span></p>
        </div>
      </div>

      <!-- 概要描述内容8 (形状) -->
      <div id="u158" class="ax_h1" data-label="概要描述内容8">
        <img id="u158_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u159" class="text">
          <p><span>&nbsp; &nbsp; &nbsp; </span><span>没有描述则显示没有描述</span><span>限定为45个字符内</span></p>
        </div>
      </div>

    
      <!-- LOGO (Image) -->
      <div id="u196" class="ax_image" data-label="LOGO">
        <img id="u196_img" class="img " src="static/images/__logo_u69.png"/>
        <!-- Unnamed () -->
        <div id="u197" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 详情8 (形状) -->
      <div id="u198" class="ax_h1" data-label="详情8">
        <img id="u198_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u199" class="text">
          <p><span>like</span></p>
        </div>
      </div>

      <!-- 功能 城客 (形状) -->
      <div id="u200" class="ax_h2" data-label="功能 城客">
        <img id="u200_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u201" class="text">
          <p><a href="citizen.html">城客</a></p>
        </div>
      </div>

      <!-- 功能 爱好社 (形状) -->
      <div id="u202" class="ax_h2" data-label="功能 爱好社">
        <img id="u202_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u203" class="text">
          <p><a href="hobby.html">爱好社</a></p>
        </div>
      </div>

      <!-- 功能 此刻 (形状) -->
      <div id="u204" class="ax_h2" data-label="功能 此刻">
        <img id="u204_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u205" class="text">
          <p><a href="moment.html">此刻</a></p>
        </div>
      </div>

      <!-- 功能 城客 (形状) -->
      <div id="u206" class="ax_h2" data-label="功能 城客">
        <img id="u206_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u207" class="text">
          <p><a href="static/use.html">用户协议 </a></p>
        </div>
      </div>

      <!-- 功能 爱好社 (形状) -->
      <div id="u208" class="ax_h2" data-label="功能 爱好社">
        <img id="u208_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u209" class="text">
          <p><a href="sign.html">注册</a></p>
        </div>
      </div>

      <!-- 装饰1 (形状) -->
      <div id="u210" class="ax_形状" data-label="装饰1">
        <img id="u210_img" class="img " src="static/images/装饰1_u60.png"/>
        <!-- Unnamed () -->
        <div id="u211" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 推荐 (形状) -->
      <div id="u212" class="ax_h2" data-label="推荐">
        <img id="u212_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u213" class="text">
          <p><span>推荐</span></p>
        </div>
      </div>

      <!-- 装饰2 (形状) -->
      <div id="u214" class="ax_形状" data-label="装饰2">
        <img id="u214_img" class="img " src="static/images/装饰2_u64.png"/>
        <!-- Unnamed () -->
        <div id="u215" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 收藏 (形状) -->
      <div id="u216" class="ax_h2" data-label="收藏">
        <img id="u216_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u217" class="text">
          <p><a href="control_co.html">收藏</a></p>
        </div>
      </div>

      <!-- 装饰3 (形状) -->
      <div id="u218" class="ax_形状" data-label="装饰3">
        <img id="u218_img" class="img " src="static/images/装饰3_u68.png"/>
        <!-- Unnamed () -->
        <div id="u219" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 好友 (形状) -->
      <div id="u220" class="ax_h2" data-label="好友">
        <img id="u220_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u221" class="text">
          <p><a href="control_hy.html">好友</a></p>
        </div>
      </div>

      <!-- 装饰4 (形状) -->
      <div id="u222" class="ax_形状" data-label="装饰4">
        <img id="u222_img" class="img " src="static/images/装饰4_u172.png"/>
        <!-- Unnamed () -->
        <div id="u223" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 新帖 (形状) -->
      <div id="u224" class="ax_h2" data-label="新帖">
        <img id="u224_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u225" class="text">
          <p><a href="control_ft.html">新帖</a></p>
        </div>
      </div>

     
    </div>
  </body>
</html>
