<!DOCTYPE html>
<html>
  <head>
    <title>用户面板</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="static/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="static/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="static/css/styles_yhmb.css" type="text/css" rel="stylesheet"/>
    <link href="static/css/styles2.css" type="text/css" rel="stylesheet"/>
    
    <style>
	<!--
	a {text-decoration:none}
	a:hover{font-weight:bold}
	-->
	</style>
    
           <script src="static/js/jquery-1.7.1.min.js"></script>
    <script src="static/js/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="static/js/axQuery.js"></script>
    <script src="static/js/globals.js"></script>
    <script src="static/js/axutils.js"></script>
    <script src="static/js/annotation.js"></script>
    <script src="static/js/axQuery.std.js"></script>
    <script src="static/js/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="static/js/messagecenter.js"></script>
    <script src="static/js/events.js"></script>
    <script src="static/js/action.js"></script>
    <script src="static/js/expr.js"></script>
    <script src="static/js/geometry.js"></script>
    <script src="static/js/flyout.js"></script>
    <script src="static/js/ie.js"></script>
    <script src="static/js/model.js"></script>
    <script src="static/js/repeater.js"></script>
    <script src="static/js/sto.js"></script>
    <script src="static/js/utils.temp.js"></script>
    <script src="static/js/variables.js"></script>
    <script src="static/js/drag.js"></script>
    <script src="static/js/move.js"></script>
    <script src="static/js/visibility.js"></script>
    <script src="static/js/style.js"></script>
    <script src="static/js/adaptive.js"></script>
    <script src="static/js/tree.js"></script>
    <script src="static/js/init.temp.js"></script>
    <script src="static/js/legacy.js"></script>
    <script src="static/js/viewer.js"></script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 彩条1 (形状) -->
      <div id="u0" class="ax_形状" data-label="彩条1">
        <img id="u0_img" class="img " src="static/images/彩条1_u0.png"/>
        <!-- Unnamed () -->
        <div id="u1" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条2 (形状) -->
      <div id="u2" class="ax_形状" data-label="彩条2">
        <img id="u2_img" class="img " src="static/images/彩条2_u2.png"/>
        <!-- Unnamed () -->
        <div id="u3" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条3 (形状) -->
      <div id="u4" class="ax_形状" data-label="彩条3">
        <img id="u4_img" class="img " src="static/images/彩条1_u0.png"/>
        <!-- Unnamed () -->
        <div id="u5" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条4 (形状) -->
      <div id="u6" class="ax_形状" data-label="彩条4">
        <img id="u6_img" class="img " src="static/images/彩条2_u2.png"/>
        <!-- Unnamed () -->
        <div id="u7" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条5 (形状) -->
      <div id="u8" class="ax_形状" data-label="彩条5">
        <img id="u8_img" class="img " src="static/images/彩条5_u8.png"/>
        <!-- Unnamed () -->
        <div id="u9" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条6 (形状) -->
      <div id="u10" class="ax_形状" data-label="彩条6">
        <img id="u10_img" class="img " src="static/images/彩条6_u10.png"/>
        <!-- Unnamed () -->
        <div id="u11" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条7 (形状) -->
      <div id="u12" class="ax_形状" data-label="彩条7">
        <img id="u12_img" class="img " src="static/images/彩条1_u0.png"/>
        <!-- Unnamed () -->
        <div id="u13" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条8 (形状) -->
      <div id="u14" class="ax_形状" data-label="彩条8">
        <img id="u14_img" class="img " src="static/images/彩条2_u2.png"/>
        <!-- Unnamed () -->
        <div id="u15" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条9 (形状) -->
      <div id="u16" class="ax_形状" data-label="彩条9">
        <img id="u16_img" class="img " src="static/images/彩条5_u8.png"/>
        <!-- Unnamed () -->
        <div id="u17" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条10 (形状) -->
      <div id="u18" class="ax_形状" data-label="彩条10">
        <img id="u18_img" class="img " src="static/images/彩条6_u10.png"/>
        <!-- Unnamed () -->
        <div id="u19" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条11 (形状) -->
      <div id="u20" class="ax_形状" data-label="彩条11">
        <img id="u20_img" class="img " src="static/images/彩条11_u20.png"/>
        <!-- Unnamed () -->
        <div id="u21" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条上端遮盖物 (形状) -->
      <div id="u22" class="ax_形状" data-label="彩条上端遮盖物">
        <img id="u22_img" class="img " src="static/images/遮盖彩条顶端物_u24.png"/>
        <!-- Unnamed () -->
        <div id="u23" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条下端遮盖物 (形状) -->
      <div id="u24" class="ax_形状" data-label="彩条下端遮盖物">
        <img id="u24_img" class="img " src="static/images/遮盖彩条底端物_u26.png"/>
        <!-- Unnamed () -->
        <div id="u25" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- banner (形状) -->
      <div id="u26" class="ax_形状" data-label="banner" selectiongroup="banner">
        <img id="u26_img" class="img " src="static/images/banner_u41.png"/>
        <!-- Unnamed () -->
        <div id="u27" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线1 (形状) -->
      <div id="u28" class="ax_形状" data-label="线1" selectiongroup="banner">
        <img id="u28_img" class="img " src="static/images/线条4_u49.png"/>
        <!-- Unnamed () -->
        <div id="u29" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线2 (形状) -->
      <div id="u30" class="ax_形状" data-label="线2" selectiongroup="banner">
        <img id="u30_img" class="img " src="static/images/线条1_u43.png"/>
        <!-- Unnamed () -->
        <div id="u31" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线3 (形状) -->
      <div id="u32" class="ax_形状" data-label="线3" selectiongroup="banner">
        <img id="u32_img" class="img " src="static/images/线条2_u45.png"/>
        <!-- Unnamed () -->
        <div id="u33" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线4 (形状) -->
      <div id="u34" class="ax_形状" data-label="线4" selectiongroup="banner">
        <img id="u34_img" class="img " src="static/images/线条3_u47.png"/>
        <!-- Unnamed () -->
        <div id="u35" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线5 (形状) -->
      <div id="u36" class="ax_形状" data-label="线5" selectiongroup="banner">
        <img id="u36_img" class="img " src="static/images/线条4_u49.png"/>
        <!-- Unnamed () -->
        <div id="u37" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线6 (形状) -->
      <div id="u38" class="ax_形状" data-label="线6" selectiongroup="banner">
        <img id="u38_img" class="img " src="static/images/线条1_u43.png"/>
        <!-- Unnamed () -->
        <div id="u39" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线7 (形状) -->
      <div id="u40" class="ax_形状" data-label="线7" selectiongroup="banner">
        <img id="u40_img" class="img " src="static/images/线条2_u45.png"/>
        <!-- Unnamed () -->
        <div id="u41" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线8 (形状) -->
      <div id="u42" class="ax_形状" data-label="线8" selectiongroup="banner">
        <img id="u42_img" class="img " src="static/images/线条3_u47.png"/>
        <!-- Unnamed () -->
        <div id="u43" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- enjoy life (形状) -->
      <div id="u44" class="ax_h2" data-label="enjoy life">
        <img id="u44_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u45" class="text">
          <p><span>Enjoy life!</span></p>
        </div>
      </div>

      <!-- 上一页 (形状) -->
      <div id="u46" class="ax_形状" data-label="上一页">
        <img id="u46_img" class="img " src="static/images/上一页_u72.png"/>
        <!-- Unnamed () -->
        <div id="u47" class="text">
          <p><span style="opacity:0.8;">PRE</span></p>
        </div>
      </div>

      <!-- 下一页 (形状) -->
      <div id="u48" class="ax_形状" data-label="下一页">
        <img id="u48_img" class="img " src="static/images/上一页_u72.png"/>
        <!-- Unnamed () -->
        <div id="u49" class="text">
          <p><span style="opacity:0.8;">NEXT</span></p>
        </div>
      </div>

      <!-- 彩块1 (形状) -->
      <div id="u50" class="ax_形状" data-label="彩块1">
        <img id="u50_img" class="img " src="static/images/彩块1_u76.png"/>
        <!-- Unnamed () -->
        <div id="u51" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩块2 (形状) -->
      <div id="u52" class="ax_形状" data-label="彩块2">
        <img id="u52_img" class="img " src="static/images/彩块2_u78.png"/>
        <!-- Unnamed () -->
        <div id="u53" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩块3 (形状) -->
      <div id="u54" class="ax_形状" data-label="彩块3">
        <img id="u54_img" class="img " src="static/images/彩块3_u80.png"/>
        <!-- Unnamed () -->
        <div id="u55" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩块4 (形状) -->
      <div id="u56" class="ax_形状" data-label="彩块4">
        <img id="u56_img" class="img " src="static/images/彩块4_u82.png"/>
        <!-- Unnamed () -->
        <div id="u57" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩块5 (形状) -->
      <div id="u58" class="ax_形状" data-label="彩块5">
        <img id="u58_img" class="img " src="static/images/彩块4_u82.png"/>
        <!-- Unnamed () -->
        <div id="u59" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩块6 (形状) -->
      <div id="u60" class="ax_形状" data-label="彩块6">
        <img id="u60_img" class="img " src="static/images/彩块3_u80.png"/>
        <!-- Unnamed () -->
        <div id="u61" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩块7 (形状) -->
      <div id="u62" class="ax_形状" data-label="彩块7">
        <img id="u62_img" class="img " src="static/images/彩块2_u78.png"/>
        <!-- Unnamed () -->
        <div id="u63" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩块8 (形状) -->
      <div id="u64" class="ax_形状" data-label="彩块8">
        <img id="u64_img" class="img " src="static/images/彩块1_u76.png"/>
        <!-- Unnamed () -->
        <div id="u65" class="text">
          <p><span></span></p>
        </div>
      </div>

     
     


      <!-- LOGO (Image) -->
      <div id="u196" class="ax_image" data-label="LOGO">
        <img id="u196_img" class="img " src="static/images/__logo_u69.png"/>
        <!-- Unnamed () -->
        <div id="u197" class="text">
          <p><span></span></p>
        </div>
      </div>

     

      <!-- 功能 城客 (形状) -->
      <div id="u200" class="ax_h2" data-label="功能 城客">
        <img id="u200_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u201" class="text">
          <p><a href="citizen.html">城客</a></p>
        </div>
      </div>

      <!-- 功能 爱好社 (形状) -->
      <div id="u202" class="ax_h2" data-label="功能 爱好社">
        <img id="u202_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u203" class="text">
          <p><a href="hobby.html">爱好社</a></p>
        </div>
      </div>

      <!-- 功能 此刻 (形状) -->
      <div id="u204" class="ax_h2" data-label="功能 此刻">
        <img id="u204_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u205" class="text">
          <p><a href="moment.html">此刻</a></p>
        </div>
      </div>

      <!-- 功能 城客 (形状) -->
      <div id="u206" class="ax_h2" data-label="功能 城客">
        <img id="u206_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u207" class="text">
          <p><a href="static/use.html">用户协议 </a></p>
        </div>
      </div>

      <!-- 功能 爱好社 (形状) -->
      <div id="u208" class="ax_h2" data-label="功能 爱好社">
        <img id="u208_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u209" class="text">
          <p><a href="sign.html">注册</a></p>
        </div>
      </div>

      <!-- 装饰1 (形状) -->
      <div id="u210" class="ax_形状" data-label="装饰1">
        <img id="u210_img" class="img " src="static/images/装饰1_u60.png"/>
        <!-- Unnamed () -->
        <div id="u211" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 推荐 (形状) -->
      <div id="u212" class="ax_h2" data-label="推荐">
        <img id="u212_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u213" class="text">
          <p><a href="control_tj.html">推荐</a></p>
        </div>
      </div>

      <!-- 装饰2 (形状) -->
      <div id="u214" class="ax_形状" data-label="装饰2">
        <img id="u214_img" class="img " src="static/images/装饰2_u64.png"/>
        <!-- Unnamed () -->
        <div id="u215" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 收藏 (形状) -->
      <div id="u216" class="ax_h2" data-label="收藏">
        <img id="u216_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u217" class="text">
          <p><a href="control_co.html">收藏</a></p>
        </div>
      </div>

      <!-- 装饰3 (形状) -->
      <div id="u218" class="ax_形状" data-label="装饰3">
        <img id="u218_img" class="img " src="static/images/装饰3_u68.png"/>
        <!-- Unnamed () -->
        <div id="u219" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 好友 (形状) -->
      <div id="u220" class="ax_h2" data-label="好友">
        <img id="u220_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u221" class="text">
          <p>好友</p>
        </div>
      </div>

      <!-- 装饰4 (形状) -->
      <div id="u222" class="ax_形状" data-label="装饰4">
        <img id="u222_img" class="img " src="static/images/装饰4_u172.png"/>
        <!-- Unnamed () -->
        <div id="u223" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 新帖 (形状) -->
      <div id="u224" class="ax_h2" data-label="新帖">
        <img id="u224_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u225" class="text">
          <p><a href="control_ft.html">新帖</a></p>
        </div>
      </div>

      <!-- 好友名称 (形状) -->
      <div id="u226" class="ax_h1" data-label="好友名称">
        <img id="u226_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u227" class="text">
          <p><span>作者</span><span>(用户名在这里</span><span>)</span></p>
        </div>
      </div>

      <!-- 动态1 (形状) -->
      <div id="u228" class="ax_h1" data-label="动态1">
        <img id="u228_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u229" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 动态2 (形状) -->
      <div id="u230" class="ax_h1" data-label="动态2">
        <img id="u230_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u231" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 动态3 (形状) -->
      <div id="u232" class="ax_h1" data-label="动态3">
        <img id="u232_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u233" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 私信 (形状) -->
      <div id="u234" class="ax_h1" data-label="私信">
        <img id="u234_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u235" class="text">
          <p><a href="control_sx.html">私信</a></p>
        </div>
      </div>

      <!-- 上一页 (形状) -->
      <div id="u236" class="ax_h1" data-label="上一页">
        <img id="u236_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u237" class="text">
          <p><span>上一页</span></p>
        </div>
      </div>

      <!-- 下一页 (形状) -->
      <div id="u238" class="ax_h1" data-label="下一页">
        <img id="u238_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u239" class="text">
          <p><span>下一页</span></p>
        </div>
      </div>

      <!-- 好友名称 (形状) -->
      <div id="u240" class="ax_h1" data-label="好友名称">
        <img id="u240_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u241" class="text">
          <p><span>作者</span><span>(用户名在这里</span><span>)</span></p>
        </div>
      </div>

      <!-- 动态1 (形状) -->
      <div id="u242" class="ax_h1" data-label="动态1">
        <img id="u242_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u243" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 动态2 (形状) -->
      <div id="u244" class="ax_h1" data-label="动态2">
        <img id="u244_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u245" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 动态3 (形状) -->
      <div id="u246" class="ax_h1" data-label="动态3">
        <img id="u246_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u247" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 私信 (形状) -->
      <div id="u248" class="ax_h1" data-label="私信">
        <img id="u248_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u249" class="text">
          <p><a href="control_sx.html">私信</a></p>
        </div>
      </div>

      <!-- 上一页 (形状) -->
      <div id="u250" class="ax_h1" data-label="上一页">
        <img id="u250_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u251" class="text">
          <p><span>上一页</span></p>
        </div>
      </div>

      <!-- 下一页 (形状) -->
      <div id="u252" class="ax_h1" data-label="下一页">
        <img id="u252_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u253" class="text">
          <p><span>下一页</span></p>
        </div>
      </div>

      <!-- 好友名称 (形状) -->
      <div id="u254" class="ax_h1" data-label="好友名称">
        <img id="u254_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u255" class="text">
          <p><span>作者</span><span>(用户名在这里</span><span>)</span></p>
        </div>
      </div>

      <!-- 动态1 (形状) -->
      <div id="u256" class="ax_h1" data-label="动态1">
        <img id="u256_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u257" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 动态2 (形状) -->
      <div id="u258" class="ax_h1" data-label="动态2">
        <img id="u258_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u259" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 动态3 (形状) -->
      <div id="u260" class="ax_h1" data-label="动态3">
        <img id="u260_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u261" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 私信 (形状) -->
      <div id="u262" class="ax_h1" data-label="私信">
        <img id="u262_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u263" class="text">
          <p><a href="control_sx.html">私信</a></p>
        </div>
      </div>

      <!-- 上一页 (形状) -->
      <div id="u264" class="ax_h1" data-label="上一页">
        <img id="u264_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u265" class="text">
          <p><span>上一页</span></p>
        </div>
      </div>

      <!-- 下一页 (形状) -->
      <div id="u266" class="ax_h1" data-label="下一页">
        <img id="u266_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u267" class="text">
          <p><span>下一页</span></p>
        </div>
      </div>

      <!-- 好友名称 (形状) -->
      <div id="u268" class="ax_h1" data-label="好友名称">
        <img id="u268_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u269" class="text">
          <p><span>作者</span><span>(用户名在这里</span><span>)</span></p>
        </div>
      </div>

      <!-- 动态1 (形状) -->
      <div id="u270" class="ax_h1" data-label="动态1">
        <img id="u270_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u271" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 动态2 (形状) -->
      <div id="u272" class="ax_h1" data-label="动态2">
        <img id="u272_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u273" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 动态3 (形状) -->
      <div id="u274" class="ax_h1" data-label="动态3">
        <img id="u274_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u275" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 私信 (形状) -->
      <div id="u276" class="ax_h1" data-label="私信">
        <img id="u276_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u277" class="text">
          <p><a href="control_sx.html">私信</a></p>
        </div>
      </div>

      <!-- 上一页 (形状) -->
      <div id="u278" class="ax_h1" data-label="上一页">
        <img id="u278_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u279" class="text">
          <p><span>上一页</span></p>
        </div>
      </div>

      <!-- 下一页 (形状) -->
      <div id="u280" class="ax_h1" data-label="下一页">
        <img id="u280_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u281" class="text">
          <p><span>下一页</span></p>
        </div>
      </div>

      <!-- 好友名称 (形状) -->
      <div id="u282" class="ax_h1" data-label="好友名称">
        <img id="u282_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u283" class="text">
          <p><span>作者</span><span>(用户名在这里</span><span>)</span></p>
        </div>
      </div>

      <!-- 动态1 (形状) -->
      <div id="u284" class="ax_h1" data-label="动态1">
        <img id="u284_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u285" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 动态2 (形状) -->
      <div id="u286" class="ax_h1" data-label="动态2">
        <img id="u286_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u287" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 动态3 (形状) -->
      <div id="u288" class="ax_h1" data-label="动态3">
        <img id="u288_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u289" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 私信 (形状) -->
      <div id="u290" class="ax_h1" data-label="私信">
        <img id="u290_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u291" class="text">
          <p><a href="control_sx.html">私信</a></p>
        </div>
      </div>

      <!-- 上一页 (形状) -->
      <div id="u292" class="ax_h1" data-label="上一页">
        <img id="u292_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u293" class="text">
          <p><span>上一页</span></p>
        </div>
      </div>

      <!-- 下一页 (形状) -->
      <div id="u294" class="ax_h1" data-label="下一页">
        <img id="u294_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u295" class="text">
          <p><span>下一页</span></p>
        </div>
      </div>

      <!-- 好友名称 (形状) -->
      <div id="u296" class="ax_h1" data-label="好友名称">
        <img id="u296_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u297" class="text">
          <p><span>作者</span><span>(用户名在这里</span><span>)</span></p>
        </div>
      </div>

      <!-- 动态1 (形状) -->
      <div id="u298" class="ax_h1" data-label="动态1">
        <img id="u298_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u299" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 动态2 (形状) -->
      <div id="u300" class="ax_h1" data-label="动态2">
        <img id="u300_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u301" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 动态3 (形状) -->
      <div id="u302" class="ax_h1" data-label="动态3">
        <img id="u302_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u303" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 私信 (形状) -->
      <div id="u304" class="ax_h1" data-label="私信">
        <img id="u304_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u305" class="text">
          <p><a href="control_sx.html">私信</a></p>
        </div>
      </div>

      <!-- 上一页 (形状) -->
      <div id="u306" class="ax_h1" data-label="上一页">
        <img id="u306_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u307" class="text">
          <p><span>上一页</span></p>
        </div>
      </div>

      <!-- 下一页 (形状) -->
      <div id="u308" class="ax_h1" data-label="下一页">
        <img id="u308_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u309" class="text">
          <p><span>下一页</span></p>
        </div>
      </div>

      <!-- 好友名称 (形状) -->
      <div id="u310" class="ax_h1" data-label="好友名称">
        <img id="u310_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u311" class="text">
          <p><span>作者</span><span>(用户名在这里</span><span>)</span></p>
        </div>
      </div>

      <!-- 动态1 (形状) -->
      <div id="u312" class="ax_h1" data-label="动态1">
        <img id="u312_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u313" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 动态2 (形状) -->
      <div id="u314" class="ax_h1" data-label="动态2">
        <img id="u314_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u315" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 动态3 (形状) -->
      <div id="u316" class="ax_h1" data-label="动态3">
        <img id="u316_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u317" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 私信 (形状) -->
      <div id="u318" class="ax_h1" data-label="私信">
        <img id="u318_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u319" class="text">
          <p><a href="control_sx.html">私信</a></p>
        </div>
      </div>

      <!-- 上一页 (形状) -->
      <div id="u320" class="ax_h1" data-label="上一页">
        <img id="u320_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u321" class="text">
          <p><span>上一页</span></p>
        </div>
      </div>

      <!-- 下一页 (形状) -->
      <div id="u322" class="ax_h1" data-label="下一页">
        <img id="u322_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u323" class="text">
          <p><span>下一页</span></p>
        </div>
      </div>

      <!-- 好友名称 (形状) -->
      <div id="u324" class="ax_h1" data-label="好友名称">
        <img id="u324_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u325" class="text">
          <p><span>作者</span><span>(用户名在这里</span><span>)</span></p>
        </div>
      </div>
      
 <!-- 私信 (形状) -->
      <div id="u332" class="ax_h1" data-label="私信">
        <img id="u332_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u333" class="text">
          <p><a href="control_sx.html">私信</a></p>
        </div>
      </div>
      
      <!-- 动态1 (形状) -->
      <div id="u326" class="ax_h1" data-label="动态1">
        <img id="u326_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u327" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 动态2 (形状) -->
      <div id="u328" class="ax_h1" data-label="动态2">
        <img id="u328_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u329" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>

      <!-- 动态3 (形状) -->
      <div id="u330" class="ax_h1" data-label="动态3">
        <img id="u330_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u331" class="text">
          <p><span>时间:2015-09-07</span><span>：动态</span></p><p><span>内容：参加了XXX的XXX</span></p>
        </div>
      </div>
	  <!-- 上一页 (形状) -->
      <div id="u334" class="ax_h1" data-label="上一页">
        <img id="u334_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u335" class="text">
          <p><span>上一页</span></p>
        </div>
      </div>

      <!-- 下一页 (形状) -->
      <div id="u336" class="ax_h1" data-label="下一页">
        <img id="u336_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u337" class="text">
          <p><span>下一页</span></p>
        </div>
      </div>
    
    </div>
  </body>
</html>
