<!DOCTYPE html>
<html>
  <head>
    <title>此刻</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
        <style>
	<!--
	a {text-decoration:none}
	a:hover{font-weight:bold}
	-->
	</style>
    <link href="static/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="static/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="static/css/styles2.css" type="text/css" rel="stylesheet"/>
    <link href="static/css/styles_cike.css" type="text/css" rel="stylesheet"/>
     <script src="static/js/jquery-1.7.1.min.js"></script>
    <script src="static/js/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="static/js/axQuery.js"></script>
    <script src="static/js/globals.js"></script>
    <script src="static/js/axutils.js"></script>
    <script src="static/js/annotation.js"></script>
    <script src="static/js/axQuery.std.js"></script>
    <script src="static/js/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="static/js/messagecenter.js"></script>
    <script src="static/js/events.js"></script>
    <script src="static/js/action.js"></script>
    <script src="static/js/expr.js"></script>
    <script src="static/js/geometry.js"></script>
    <script src="static/js/flyout.js"></script>
    <script src="static/js/ie.js"></script>
    <script src="static/js/model.js"></script>
    <script src="static/js/repeater.js"></script>
    <script src="static/js/sto.js"></script>
    <script src="static/js/utils.temp.js"></script>
    <script src="static/js/variables.js"></script>
    <script src="static/js/drag.js"></script>
    <script src="static/js/move.js"></script>
    <script src="static/js/visibility.js"></script>
    <script src="static/js/style.js"></script>
    <script src="static/js/adaptive.js"></script>
    <script src="static/js/tree.js"></script>
    <script src="static/js/init.temp.js"></script>
    <script src="files/home/data.js"></script>
    <script src="static/js/legacy.js"></script>
    <script src="static/js/viewer.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/static/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 彩条1 (形状) -->
      <div id="u0" class="ax_形状" data-label="彩条1">
        <img id="u0_img" class="img " src="static/images/彩条1_u0.png"/>
        <!-- Unnamed () -->
        <div id="u1" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条2 (形状) -->
      <div id="u2" class="ax_形状" data-label="彩条2">
        <img id="u2_img" class="img " src="static/images/彩条2_u2.png"/>
        <!-- Unnamed () -->
        <div id="u3" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条3 (形状) -->
      <div id="u4" class="ax_形状" data-label="彩条3">
        <img id="u4_img" class="img " src="static/images/彩条1_u0.png"/>
        <!-- Unnamed () -->
        <div id="u5" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条4 (形状) -->
      <div id="u6" class="ax_形状" data-label="彩条4">
        <img id="u6_img" class="img " src="static/images/彩条2_u2.png"/>
        <!-- Unnamed () -->
        <div id="u7" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条5 (形状) -->
      <div id="u8" class="ax_形状" data-label="彩条5">
        <img id="u8_img" class="img " src="static/images/彩条5_u8.png"/>
        <!-- Unnamed () -->
        <div id="u9" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条6 (形状) -->
      <div id="u10" class="ax_形状" data-label="彩条6">
        <img id="u10_img" class="img " src="static/images/彩条6_u10.png"/>
        <!-- Unnamed () -->
        <div id="u11" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条7 (形状) -->
      <div id="u12" class="ax_形状" data-label="彩条7">
        <img id="u12_img" class="img " src="static/images/彩条1_u0.png"/>
        <!-- Unnamed () -->
        <div id="u13" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条8 (形状) -->
      <div id="u14" class="ax_形状" data-label="彩条8">
        <img id="u14_img" class="img " src="static/images/彩条2_u2.png"/>
        <!-- Unnamed () -->
        <div id="u15" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条9 (形状) -->
      <div id="u16" class="ax_形状" data-label="彩条9">
        <img id="u16_img" class="img " src="static/images/彩条5_u8.png"/>
        <!-- Unnamed () -->
        <div id="u17" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条10 (形状) -->
      <div id="u18" class="ax_形状" data-label="彩条10">
        <img id="u18_img" class="img " src="static/images/彩条6_u10.png"/>
        <!-- Unnamed () -->
        <div id="u19" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条11 (形状) -->
      <div id="u20" class="ax_形状" data-label="彩条11">
        <img id="u20_img" class="img " src="static/images/彩条11_u20.png"/>
        <!-- Unnamed () -->
        <div id="u21" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条上端遮盖物 (形状) -->
      <div id="u22" class="ax_形状" data-label="彩条上端遮盖物">
        <img id="u22_img" class="img " src="static/images/遮盖彩条顶端物_u24.png"/>
        <!-- Unnamed () -->
        <div id="u23" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 彩条下端遮盖物 (形状) -->
      <div id="u24" class="ax_形状" data-label="彩条下端遮盖物">
        <img id="u24_img" class="img " src="static/images/遮盖彩条底端物_u26.png"/>
        <!-- Unnamed () -->
        <div id="u25" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线1 (形状) -->
      <div id="u26" class="ax_形状" data-label="线1" selectiongroup="banner">
        <img id="u26_img" class="img " src="static/images/线条4_u49.png"/>
        <!-- Unnamed () -->
        <div id="u27" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线2 (形状) -->
      <div id="u28" class="ax_形状" data-label="线2" selectiongroup="banner">
        <img id="u28_img" class="img " src="static/images/线条1_u43.png"/>
        <!-- Unnamed () -->
        <div id="u29" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线3 (形状) -->
      <div id="u30" class="ax_形状" data-label="线3" selectiongroup="banner">
        <img id="u30_img" class="img " src="static/images/线条2_u45.png"/>
        <!-- Unnamed () -->
        <div id="u31" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线4 (形状) -->
      <div id="u32" class="ax_形状" data-label="线4" selectiongroup="banner">
        <img id="u32_img" class="img " src="static/images/线条3_u47.png"/>
        <!-- Unnamed () -->
        <div id="u33" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线5 (形状) -->
      <div id="u34" class="ax_形状" data-label="线5" selectiongroup="banner">
        <img id="u34_img" class="img " src="static/images/线条4_u49.png"/>
        <!-- Unnamed () -->
        <div id="u35" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线6 (形状) -->
      <div id="u36" class="ax_形状" data-label="线6" selectiongroup="banner">
        <img id="u36_img" class="img " src="static/images/线条1_u43.png"/>
        <!-- Unnamed () -->
        <div id="u37" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线7 (形状) -->
      <div id="u38" class="ax_形状" data-label="线7" selectiongroup="banner">
        <img id="u38_img" class="img " src="static/images/线条2_u45.png"/>
        <!-- Unnamed () -->
        <div id="u39" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 线8 (形状) -->
  <div id="u40" class="ax_形状" data-label="线8" selectiongroup="banner">
        <img id="u40_img" class="img " src="static/images/线条3_u47.png"/>
        <!-- Unnamed () -->
        <div id="u41" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- banner (形状) -->
      <div id="u42" class="ax_形状" data-label="banner" selectiongroup="banner">
        <img id="u42_img" class="img " src="static/images/banner_u41.png"/>
        <!-- Unnamed () -->
        <div id="u43" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- enjoy life (形状) -->
      <div id="u44" class="ax_h2" data-label="enjoy life">
        <img id="u44_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u45" class="text">
          <p><span>Enjoy life!</span></p>
        </div>
  </div>

      <!-- 首页 (形状) -->
      <div id="u46" class="ax_h2" data-label="首页">
        <img id="u46_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u47" class="text">
          <p><a href="home.html">首页</a></p>
        </div>
      </div>

      <!-- 小组成员 (形状) -->
      <div id="u48" class="ax_h2" data-label="小组成员">
        <img id="u48_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u49" class="text">
          <p><a href="static/use.html">用户协议</a></p>
        </div>
      </div>

      <!-- 注册 (形状) -->
      <div id="u50" class="ax_h2" data-label="注册">
        <img id="u50_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u51" class="text">
          <p><a href="sign.html">注册</a></p>
        </div>
      </div>

      <!-- 此刻标题 (形状) -->
      <div id="u52" class="ax_h2" data-label="此刻标题">
        <img id="u52_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u53" class="text">
          <p><span>此刻</span></p>
        </div>
      </div>

      <!-- 此刻英文 (形状) -->
      <div id="u54" class="ax_h2" data-label="此刻英文">
        <img id="u54_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u55" class="text">
          <p><span>THE MOMENT</span></p>
        </div>
      </div>

      <!-- 功能 城客 (形状) -->
      <div id="u56" class="ax_h2" data-label="功能 城客">
        <img id="u56_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u57" class="text">
          <p><a href="citizen.html">城客</a></p>
        </div>
      </div>

      <!-- 功能 爱好社 (形状) -->
      <div id="u58" class="ax_h2" data-label="功能 爱好社">
        <img id="u58_img" class="img " src="static/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u59" class="text">
          <p><a href="hobby.html">爱好社</a></p>
        </div>
      </div>


  
      <!-- 图片区域 (形状) -->
      <!--u60为空白-->    
      <div id="u60" class="ax_形状" data-label="图片区域">
        <img id="u60_img" class="img " src="static/images/bj1.jpg" />
        <img id="u600" class="img " src="static/images/cclback.png" />

  </div>
  
      <div id="u60" class="ax_形状" data-label="图片区域">
        <marquee><font size="6"> 让我们开启弹幕吧！</font></marquee> 
  </div>

<div id="u601" class="ax_形状" data-label="图片区域">
        <marquee><font size="6"> 让我们开启弹幕吧！</font></marquee> 
  </div>
  
  <div id="u602" class="ax_形状" data-label="图片区域">
        <marquee><font size="6"> 让我们开启弹幕吧！</font></marquee> 
  </div>
  
    <div id="u603" class="ax_形状" data-label="图片区域">
        <marquee><font size="6"> 让我们开启弹幕吧！</font></marquee> 
  </div>
  
    <div id="u604" class="ax_形状" data-label="图片区域">
        <marquee><font size="6"> 让我们开启弹幕吧！</font></marquee> 
  </div>
  
    <div id="u605" class="ax_形状" data-label="图片区域">
        <marquee><font size="6"> 让我们开启弹幕吧！</font></marquee> 
  </div>
  
    <div id="u606" class="ax_形状" data-label="图片区域">
        <marquee><font size="6"> 让我们开启弹幕吧！</font></marquee> 
  </div>
  
   <div id="u607" class="ax_形状" data-label="图片区域">
        <marquee><font size="6"> 让我们开启弹幕吧！</font></marquee> 
  </div>
  
   <div id="u608" class="ax_形状" data-label="图片区域">
        <marquee><font size="6"> 让我们开启弹幕吧！</font></marquee> 
  </div>
  
   <div id="u609" class="ax_形状" data-label="图片区域">
        <marquee><font size="6"> 让我们开启弹幕吧！</font></marquee> 
  </div>
        <!-- Unnamed () -->
        <div id="u61" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- 填弹幕 (文本框) -->
      <div id="u62" class="ax_文本框" data-label="填弹幕">
        <input id="u62_input" type="text" value=""/>
      </div>

      <!-- 发送弹幕 (形状) -->
      <div id="u63" class="ax_形状" data-label="发送弹幕">
        <img id="u63_img" class="img " src="static/images/发送弹幕_u63.png"/>
        <!-- Unnamed () -->
        <div id="u64" class="text">
          <p><span>发送弹幕</span></p>
        </div>
      </div>

      <!-- 弹幕历史 (文本框) -->
      <div id="u65" class="ax_文本框" data-label="弹幕历史">
        <input id="u65_input" type="text" value=""/>
	</div>



<div id="u651" class="text">
          <p><span>你所在的位置为：北京</span></p>
        </div>
        
      <!-- LOGO (Image) -->
      <div id="u66" class="ax_image" data-label="LOGO">
        <img id="u66_img" class="img " src="static/images/logo_u66.png"/>
        <!-- Unnamed () -->
        <div id="u67" class="text">
          <p><span></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
